@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Dodum&family=Oswald:wght@200..700&display=swap');
:root {
    font-size: 1.2em;
}
body {
    background-color: rgb(249, 249, 249);
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    float: left;
    font-size: 1.3em;
    margin: 0;
}

h2 {
    text-align: center;
}

header {
    background-color: rgb(194, 227, 255);
    color: rgb(57, 60, 60);
    padding: 5px 12%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation Bar */

.navbar ul {
    float: right;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: rgb(8, 80, 142);
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(142, 195, 241);
}

.navbar li {
    float: left;
}

/* fonts */

h1, h2, h3 {
        font-family: "Gowun Dodum", sans-serif;
        font-weight: 1000;
        font-style: normal;
      
}

.navbar {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

/* Image */

img {
    max-width: 30%;
    max-height: 30%;
    display: block;
    margin: 10px 0;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(194, 227, 255);
    color: rgb(57, 60, 60);
}